<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action=""  onkeydown="if(event.keyCode==13)return false;">
    {:token()}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('素材名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="material_name" type="text" value="{$row['material_name']}" data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('颜色')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('color_system_id', $colorList, $row['color_system_id'], ['class'=>'form-control selectpicker', 'data-rule'=>'required'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('行业')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('industry_id', $hyList, $row['industry_id'], ['class'=>'form-control selectpicker', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('状态')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('status', ['0'=>__('正常'),'1'=>__('锁定')],$row['status'])}
        </div>
    </div>

<!--    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">素材:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="" class="form-control" size="50" name="avatar" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="svg,image/png,image/jpg,image/svg" data-rule="required" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传</button></span>
                    <span style="color: red;">只能上传SVG文件或者图片</span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>-->

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('标签')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="inputTags" name="typename" type="text" value="">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<style>
    body .tagsContaine .tagInput {
        outline: none;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        border: solid thin #AAAAAA;
        border-radius: 5px;
        margin: 5px;
        padding: 0px 5px;
        text-align: center;
    }
    body .tagsContaine .tagList .tagItem {
        height: 25px;
        line-height: 25px;
        background-color: #66CCFF;
        padding: 0px 10px;
        text-align: center;
        float: left;
        margin: 5px;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 14px;
        letter-spacing: 2px;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" type="text/css" href="/Public/logofiles/css/tag.css">
<script type="text/javascript" src="/Public/layer/jquery.min.js"></script>
<script type="text/javascript" src="/Public/logofiles/js/tag.js"></script>

<script type="text/javascript">
    var tag = new Tag("inputTags");
    tag.tagValue = "{$row.typename}";
    tag.initView();

</script>